$z-index-dropdown: 1000 !default;
$z-index-sticky: 1020 !default;
$z-index-fixed: 1030 !default;
$z-index-modal-backdrop: 1040 !default;
$z-index-modal: 1050 !default;
$z-index-popover: 1060 !default;
$z-index-tooltip: 900 !default;
$z-index-map: 10 !default;
$z-index-map-search: 20 !default;
$z-index-loading: 999 !default;
$z-index-dragdrop: 2000 !default;
