html,
body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  background-color: $background-color;
  color: $heading-color;
  font-weight: 400;

  & .on-popup {
    overflow: hidden;
  }

  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

a {
  transition: 0.5s ease;
}

svg {
  height: initial;
  width: initial;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.5s ease;
  cursor: pointer;
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}
